@import url("common.css");

.nav-header-small {
    text-size-adjust: var(--textsize-sm);
    color: var(--primary-color);
}

.nav-item h5{
    text-size-adjust: var(--textsize-sm);
    color: var(--primary-color);
}


/* About section */
.about {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-top: var(--margin-top);
}

.about img {
  max-height: 45%;
  max-width: 45%;
  border-radius: var(--border-radius-sm);
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* About section ends */
