@import url("common.css");

.nav-header-small {
    text-size-adjust: var(--textsize-sm);
    color: var(--primary-color);
}

.nav-item h5{
    text-size-adjust: var(--textsize-sm);
    color: var(--primary-color);
}